.inline-block {
    display: inline-block;
    vertical-align: top;
}

.logo {
    width: 23%;
    padding: 1%; 
}

nav {
    width: 95%;
    padding: 1%;
    color: black; 
    text-align: right;   
}

ul {
    width: 95%;
    margin: 0 auto;

}

li.inline-block {
    display: inline-block;
    padding: 1%;
    vertical-align: top;
    font-weight: bold;
}

.heroimg {
    height: 300px;
    padding: 25px;
}

#profile {
    float: right;
}


.content {
    width: 750px;
    padding: 40px 40px;
    text-align: left ;
    margin: auto;
}

.mySkills {
    text-align: center;
    padding: 20px;
    align-items: center;
}


.skill1, .skill2, .skill3 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly ;

    
 
}


.text {
    color: black;
    text-align: center;
    
  }
 
.header {
    text-align: center;
}

.myWork {
    padding: 50px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "Wanderlust PetBuddies"
    
}

#Wanderlust {
    grid-area: Wanderlust;
}

#PetBuddies {
    grid-area: PetBuddies;
}


footer {
    background-color: #373738;
    display: inline-block;
    width: 100%;
    padding: 20px;
    text-align: center;
}


footer.inline-block {
    color: white;
    display: inline-block;
    text-align: center;
    padding: 25px 25px;
}

@media only screen and (max-width: 600px) {
    .myWork {
        flex-direction: column;
        width: max-content;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "Wanderlust"
        "PetBuddies"
        ;
    }
}